@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html { 
    font-family: 'Inter', sans-serif; 
    scroll-behavior: smooth;  /* ← Scroll doux */
  }
}

section {
  scroll-margin-top: 5rem;  /* ← Arrivée haute section */
  scroll-snap-align: none;  /* ← Stop snap */
}

@keyframes slideBackground {
  0% { background-position: 0 0; }
  100% { background-position: 60px 60px; }
}